/* body
{
    background-color: black;
} */

.article-title
{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
  font-weight:bold;
  font-style:italic;
  text-align: center;
  width : 100%;
  line-height: 50px;
  padding-left: 60px;
}
